  /* Estilo del botón WhatsApp */
  .whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 20px;
    font-size: 40px; /* Tamaño grande del ícono */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    transition: transform 0.3s ease;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
}
    
/* Hacer que el navbar sea fijo */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que el navbar esté siempre por encima de otros elementos */
}

    /* Estilo para el navbar */
    .navbar {
        background-color: #333;
      }
  
      .navbar-brand {
        color: #000000 !important;
        font-weight: bold;
        font-size: 2rem;
      }
  
      .navbar-nav .nav-link {
        color: #333 !important;
        font-size: 1.1rem;
        margin-left: 20px;
      }
  
      .navbar-nav .nav-link:hover {
        color: #0d6efd !important;
      }
  
      /* Agregar margen superior a la página */
      body {
        padding-top: 80px; /* Añadir espacio para evitar que el contenido quede oculto debajo del navbar */
        margin-top: 60px;
        font-family: 'Arial', sans-serif;
      }
  
      /* Cambiar color del fondo en el colapso de la navbar */
      .navbar-toggler-icon {
        background-color: #0d6efd;
      }
      /* Estilo para la sección héroe */
    .hero {
      background-image: url('https://cdn.euroinnova.edu.es/img/subidasEditor/server-2160321__340-1614223145.webp'); /* Cambia esta URL a la de tu imagen */
      background-size: cover;
      background-position: center;
      color: #fff;
      height: 100vh; /* Altura completa de la ventana */
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .hero h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    .hero p {
      font-size: 1.2rem;
      margin-top: 20px;
    }

    /* Opcional: Estilo para un botón en la sección héroe */
    .hero .btn-primary {
      margin-top: 20px;
      padding: 10px 30px;
      font-size: 1.1rem;
    }

/* Estilo para la sección 'Quiénes somos' */
.quienes-somos {
    padding: 60px 0;
    background-color: #f8f9fa;
  }

  .quienes-somos h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }

  .quienes-somos p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
  }

  .quienes-somos .iconos-servicios {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .quienes-somos .iconos-servicios div {
    font-size: 2rem;
    color: #333;
  }

  .quienes-somos .iconos-servicios div i {
    color: #333f;
  }

  .quienes-somos .iconos-servicios div p {
    margin-top: 10px;
    font-size: 1.1rem;
  }

   /* Estilo para la sección 'Nuestro Servicio' */
   .nuestro-servicio {
    padding: 60px 0;
    background-color: #f8f9fa;
  }

  .nuestro-servicio h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
  }

  .accordion-button {
    background-color: #333;
    color: #fff;
  }

  .accordion-button:not(.collapsed) {
    background-color: #0d6efd;
    color: #fff;
  }

  .accordion-body img {
    max-width: 100%;
    height: auto;
  }

  .servicio-imagen {
    max-height: 300px;
    object-fit: cover;
  }

  .formulario-contacto {
    padding: 40px 0;
    background-color: #f8f9fa;
  }

  .formulario-contacto h2 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }

  .formulario-contacto .form-group {
    margin-bottom: 1.5rem;


  }
    /* Estilo personalizado para el footer */
    .footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
      }
  
      .footer .social-icons a {
        color: #fff;
        font-size: 1.5rem;
        margin: 0 15px;
        transition: color 0.3s;
      }
  
      .footer .social-icons a:hover {
        color: #0d6efd; /* Color dorado cuando el usuario pasa el mouse */
      }